// COLORS //
$bgColor: #18171f;
$cardColor: #242320;
$nonDisplayColor: #e6e5ea;
$monoColor: #817d92;


// STRENGTH COLORS //
$primaryColor: #a4ffaf; //also color for good in the strength //
$dangerColor: #F64a4a;
$warmColor: #fb7c58;
$mediumColor: #F8CD65;


// MISC VARIABLES //
$primaryPadding: 18px;



// FONTS //
$primaryFont: 'JetBrains Mono', monospace;